.page-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.page-content-wrapper > * {
    margin-top: 20px;
}

.school-list-container > table {
    width: 100%;
}

.schools-table-row {
    text-align: left;
}

.table-header {
    background-color: #006AA3;
}

.school-link:hover {
    color: #3684ae;
}

.single-school-table {
    padding: 0px 30px;
    margin-bottom: 30px;
}

.table-legend-section {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.legend-title {
    font-weight: bold;
    margin-right: 20px;
}

.legend-item-wrapper {
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.legend-items {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.legend-item-label {
    color: #006AA3;
    font-weight: 700;
}

.school-table-header {
    width: 100% !important;
    border: none;
}

.schools-filter-container {
    display: flex;
    justify-content: flex-start;
}

.school-sort-item {
    padding: 0;
    border: none;
    margin-left: 40px;
    font-size: 15px;
}