.filters-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}
.sort-item-container{
    padding: 20px;
    border-radius: 5px;
}

.column-header{
    background-color: #4472C4;
    color: white;
    padding: 20px;
}

.row-header-0{
    background-color: #CFD5EA;
}
.row-header-1{
    background-color: #E9EBF5;
    padding: 20px;
}
.table-header{
    background-color: #7F7F7F;
    color: white;
    padding: 20px;
}