.main-header{
    max-width: 100%;
    width: 100%;
    background-color: white;
}
.main-header .container{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem;
    flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
    .main-header .container{
        justify-content: center;
    }
}
.main-header .title{
    color: #006AA3;
    padding: 20px;
    font-size: 40px;
}

.main-header .logo{
    width: 100% ;
    max-width: 200px;
}

.banner{
    width: 100%;
    height: 120px;
    background-size: cover;
    position: relative;
}

.banner:after{

    content: "";
    background: #006AA3;
    opacity: .88;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.logout{
    align-items: center;
    gap: 10px;
}
.logout h4{
    margin-bottom: 10px;
}
.logout button{
    width: fit-content;
    padding: 10px 20px;
    background-color: #81d7ff;
    outline: none;
    border: unset;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.2s;
    font-family: 'Inter', sans-serif;
}