
.create-button-wrapper {
    padding: 20px 0px;
}

.cellrow-header-1 {
    border: 1px solid black;
}

.users-list-table {
    margin-bottom: 30px;
}

.user-management-wrapper {
    /* max-width: none; */
    width: 90%;
}

.users-list-table > tbody > tr > th {
    padding: 10px;
}

.delete-user-btn {
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;
    background-color: #DB4D36 !important;
}